$primary-color:#2c9bc9;
$primary-dark-color:#2a658b;
$primary-light-color:#39d0ff;
$dark-color: #25274d;
$inactive-color: #a9abb7;
$light-color: #f2f2f2;
$light-gray: #fdfdfd;
$medium-light-gray: #eaeaea;
$highlight-color: #f9bb2d;
$highlight-dark-color: #e2950f;


$white: #fff;
$black: #000;
$green: $primary-color;
$blue: $primary-dark-color;
$orange: $highlight-dark-color;
$yellow: $highlight-color;
$red: #c10005;

// Create grayscale
// $gray-dark: #292b2c;
// $gray: #3f3f3f;
// $gray-light: #7e7e7e;
// $gray-lighter: #ededed;
// $gray-lightest: #fafafa;

// Set brand colors
$primary: $primary-color;
$success: $primary-light-color;
$info: $light-color;
$warning: $highlight-color;
$danger: $red;

// Override button colors
// $btn-info-color: darken($info, 45);

// // Override alert background colors
// $state-success-bg: lighten($success, 30);
// $state-info-bg: lighten($info, 30);
// $state-warning-bg: lighten($warning, 30);
// $state-danger-bg: lighten($danger, 45);

// // Override alert text colors
// $state-success-text: darken($success, 30);
// $state-info-text: darken($info, 30);
// $state-warning-text: darken($warning, 30);
// $state-danger-text: darken($danger, 10);

// // Override badges padding (doubled because otherwise too crammed)
// $badge-padding-x: 0.8em;
// $badge-padding-y: 0.4em;

// // Don't make badges normal instead of bold
// $badge-font-weight: normal;

@font-face {
    font-family: 'Nunito';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-BlackItalic.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-BlackItalic.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-SemiBoldItalic.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-SemiBoldItalic.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-BoldItalic.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-BoldItalic.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Light.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Light.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-ExtraLight.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-ExtraLight.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-ExtraLightItalic.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-ExtraLightItalic.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Italic.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Italic.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-ExtraBold.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-ExtraBold.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Regular.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Regular.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-LightItalic.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-LightItalic.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-ExtraBoldItalic.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-ExtraBoldItalic.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Black.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Black.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Bold.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Bold.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-SemiBold.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-SemiBold.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/RobotoSlab/RobotoSlab-Regular.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/RobotoSlab/RobotoSlab-Regular.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/RobotoSlab/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/RobotoSlab/RobotoSlab-Thin.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/RobotoSlab/RobotoSlab-Thin.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/RobotoSlab/RobotoSlab-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/RobotoSlab/RobotoSlab-Light.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/RobotoSlab/RobotoSlab-Light.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/RobotoSlab/RobotoSlab-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/RobotoSlab/RobotoSlab-Bold.woff2') format('woff2'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/RobotoSlab/RobotoSlab-Bold.woff') format('woff'),
        url('https://d1g1aamoxberjq.cloudfront.net/cai/fonts/RobotoSlab/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

$font-family-text: "Nunito Sans",
Helvetica,
Arial,
sans-serif;

$font-family-display: "Roboto Slab",
serif;

$font-family-base: $font-family-text;

// Set global options
$enable-shadows: true;
$enable-gradients: true;

$liftedShadow: 0px 1px 1px rgba(0, 0, 0, 0.19),
0px 2px 5px rgba(0, 0, 0, 0.05),
0px 2px 15px rgba(0, 0, 0, 0.05);

$liftedShadowLight: 0px 1px 0px rgba(0, 0, 0, 0.05),
0px 1px 1px rgba(0, 0, 0, 0.1);

$liftedShadowDark: 0px 1px 1px rgba(0, 0, 0, 0.4),
0px 2px 5px rgba(0, 0, 0, 0.1),
0px 2px 15px rgba(0, 0, 0, 0.1);

$liftedShadowError: 0px 0px 0px 1px transparentize($red, 0.60),
0px 2px 1px transparentize($red, 0.60),
0px 2px 5px transparentize($red, 0.9),
0px 2px 15px transparentize($red, 0.9);
